.title {
    display: block;
    font-size: 24px;
    color: #282828;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 20px;
}

.contactItem {
    list-style: none;
    color: #777;
    margin-bottom: 16px;
    line-height: 28px;
}